VITE_FIREBASE_API_KEY=AIzaSyCX8CaHykuYaqnvzRWJ0q9_7ybzQ0psARA
VITE_FIREBASE_AUTH_DOMAIN=clavesalud-2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=clavesalud-2
VITE_FIREBASE_STORAGE_BUCKET=clavesalud-2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=856587996108
VITE_FIREBASE_APP_ID=1:856587996108:web:8513519a63e34494792b69
VITE_GEMINI_API_KEY=tu_api_key_aqui

# WhatsApp Business API
VITE_WHATSAPP_TOKEN=tu_whatsapp_token_aqui
VITE_WHATSAPP_PHONE_ID=tu_phone_id_aqui
VITE_WHATSAPP_BUSINESS_ID=tu_business_id_aqui
