name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"

      - name: Install (root)
        run: npm ci

      - name: Build (frontend)
        run: npm run build

      - name: Install (functions)
        working-directory: functions
        run: npm ci

      - name: Build (functions)
        working-directory: functions
        run: npm run build
